.item-title{
  font-family: 'Asset', cursive;
  color: white;
  position: fixed;
  font-style: oblique;
  /*background: rgba(0, 128, 255, 0.2);*/
  left: 426px;
  top: -8px;
  text-align: center;
  height: 100px;
  text-shadow: 6px -4px 10px rgba(237,237,237,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px #00ffff , 0 0 2px #00ffff , 0 0 70px #f7eaf5 , 0 0 80px #2753c4 , 0 0 100px #ededf7 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);


}

html{
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
  perspective: 572px;
}


.parent-character{
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;

}


#item-character{
  flex-basis: 40%;
  align-self: flex-start;
  /*width:100px;
  height: 400px;*/
  margin-top: 596px;
  position: absolute;
  left: 67px;
}

#item-character2{
  float: right;
  width:100px;
  height: 400px;
  margin-top: 90px;
  position: absolute;
  margin-left: 900px;



}

.message{
  color: white;
  font-size: 30px;
  position: relative;
  top: 70px;
  left:-775px;
  font-family:'Bree Serif', serif;
  text-align: right;
}


.parent-table{
  display:flex;

}

.the-table{
  /*background: url('https://static.vecteezy.com/system/resources/previews/000/118/578/non_2x/stone-background-vector.jpg') center center fixed;*/
  background: rgba(0, 128, 255, 0.3);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-radius: 10px;
  margin-top: 100px;
  padding: -5px 0px 70px;
  margin-left: 386px;
  border-style: ridge;
  height:450px;
  margin-right: 3px;
  width: 600px;
  -webkit-transform: rotateX(35deg);
 transform: rotateX(45deg);
 /*box-shadow: 10px 10px 5px grey; */
 box-shadow: -1px 6px 10px rgba(237,237,237,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px #00ffff , 0 0 2px #00ffff , 0 0 70px #f7eaf5 , 0 0 80px #2753c4 , 0 0 100px #ededf7 ;
 -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
 perspective: 572px;
}

body, .container{
    height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}


.container{
    background: url('https://images7.alphacoders.com/551/551768.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.parent-chips{
  display: flex;
  flex-direction: row;


}
.item-chips img{
  display:block;
  width: 75px;
  height: 75px;
  -webkit-transform: rotateX(45deg);
 transform: rotateX(8deg);
 transform:rotateY(45deg);
  justify-content: flex-start;
  align-self: flex-start;
}

#chip4{
  position: relative;
  left: 184px;
  top: 28px;
}


#chip3{
  position: relative;
  left: 91px;
  top: 105px;
}

#chip2{
  position: relative;
  left: 1px;
  top: 340px;
}

#chip1{
  position: relative;
  left: 140px;
  top: -101px;
}

#chipx{
  position: relative;
  left: 104px;
  top: 63px;
}

.btn{
  position: relative;
  bottom: 189px;
  width:76px;
  height: 61px;
  color: white;
  box-shadow: inset 0px -8px 0px 12px rgba(0,0,0,0.2), -10px 3px 0px 0px rgba(0,0,0,0.19);
  border-style: groove;
  background-color: rgb(64, 64, 64);
  border: 3px solid black;
  left: 277px;

}

.deal-button:hover{
  background-color: rgb(64, 64, 64);
  color: white;
}

.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.double-button{
  position: relative;
  /*bottom: 532px;*/
  top: -594px;
  margin-left: -274px;

}

.stand-button{
  position:relative;
  left: -203px;
}

.hit-button{
  position:relative;
  left:40px;
}

.player-total-number{
  font-family: 'Asset', cursive;
  color: white;
  font-size: 30px;
  position:relative;
  top: -493px;
  left: 290px;
}

.total-amount{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 25px;
  position: relative;
  left: -126px;
  bottom: 17px;
}

.bet-amount{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 25px;
  position: relative;

}



.card{
  height: 141px;
  width: 150px;
  background: url('http://www.wallpaperawesome.com/wallpapers-awesome/wallpapers-iphone-5-apple-640-x-1136-awesome/thumbnails/wallpaper-iphone-5-s-symbols-playing-cards-640-x-1136.jpg');
  color: black;
  margin: 10px;
  width: 16.6%;
  float: left;
  border: 1px solid black;
  border-radius: 8%;

  /*margin-top: -262px;
  margin-left: 101px;*/

}

.dealer-total-number{
  float: right;
  margin-top: -532px;
  margin-left: 600px;
  font-family: 'Asset', cursive;
  color: white;
  font-size: 30px;
}



#d1{
  margin-top: -417px;
  margin-right: 16px;
  transform: rotate(-1deg);
  float:right;
  width: 103.562px;
}


#d2{
  margin-top: -416px;
  margin-right: -72px;
  transform: rotate(9deg);
  float:right;
  width:103.562px;
}

#d3{
  margin-top: -402px;
  margin-right: -159px;
  transform: rotate(17deg);
  float: right;
  width: 103.562px;
}

#d4{
  margin-top: -289px;
  margin-right: 10px;
  transform: rotate(8deg);
  float:right;
  width: 103.562px;
}


#d5{
  margin-top: -289px;
  margin-right: -72px;
  transform: rotate(9deg);
  float:right;
  width:103.562px;
}

#d6{
  margin-top: -275px;
  margin-right: -147px;
  transform: rotate(18deg);
  float: right;
  width: 103.562px;
}




.card-1{
  margin-top: -352px;
  margin-left: 101px;
  transform: rotate(-17deg);

}


.card-2{
  margin-top: -388px;
  margin-left: 191px;
  transform: rotate(-10deg);
}

.card-3{
  margin-top: -372px;
  margin-left: 283px;
  transform: rotate(10deg);
}

.card-4{
  margin-top: -245px;
  margin-left: 124px;
  transform: rotate(-28deg);

}


.card-5{
  margin-top: -257px;
  margin-left: 192px;
  transform: rotate(-10deg);
}

.card-6{
  margin-top: -239px;
  margin-left: 272px;
  transform: rotate(16deg);
}


.card img{
  height:139px;
  width:105px;
  border-radius: 9%;
}



/*
/* Large desktop */
/*@media (min-width: 1200px) { ... }*/

/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px) { ... }*/

/* Landscape phone to portrait tablet */
/*@media (max-width: 767px) { ... }*/

/* Landscape phones and down */
/*@media (max-width: 480px) { ... }*/
