.title{
  font-family: 'Asset', cursive;
  color: gold;
  position: fixed;
  font-style: oblique;
  background: rgba(0, 0, 0, 0.3);
  left: 432px;
  text-align: center;
}

html{
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.message{
  color: white;
  font-size: 30px;
  position: relative;
  top: 43px;
  left:559px;
  font-family:'Bree Serif', serif;
}



.the-table{
  background: url('https://ak8.picdn.net/shutterstock/videos/743893/thumb/7.jpg') center center fixed;
  background-size: cover;
  border: 2px solid brown;
  border-radius: 10px;
  margin-top: 77px;
  padding: -5px 0px 70px;
  margin-left: -3px;
  border-style: ridge;
  height:549px;
  margin-right: 3px;

}

body, .container{
    height: 100%;
    min-width: 100%;
    overflow-x: hidden;

}


.container{
    background: url('http://s3.amazonaws.com/lbn-s3/2016/12/01140239/shutterstock_102526172.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.chips img{
  display:block;
  width: 100px;
}

#chip4{
  position: relative;
  left: 218px;
  top: -56px;
}

#chip3{
  position: relative;
  left: 177px;
  top: -11px;
}

#chip2{
  position: relative;
  left: 132px;
  top: 35px;
}

#chip1{
  position: relative;
  left: 110px;
  top: 65px;
}

#chipx{
  position: relative;
  left: 104px;
  top: 63px;
}

.btn{
  position: relative;
  bottom: 189px;
  width:76px;
  height: 61px;
  color: white;
  box-shadow: inset 0px -8px 0px 12px rgba(0,0,0,0.2), -10px 3px 0px 0px rgba(0,0,0,0.19);
  border-style: groove;
  background-color: rgb(64, 64, 64);
  border: 3px solid black;
  left: 277px;

}

.deal-button:hover{
  background-color: rgb(64, 64, 64);
  color: white;
}

.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.double-button{
  position: relative;
  /*bottom: 532px;*/
  top: -594px;
  margin-left: -274px;

}

.stand-button{
  position:relative;
  left: -203px;
}

.hit-button{
  position:relative;
  left:40px;
}

.player-total-number{
  font-family: 'Asset', cursive;
  color: white;
  font-size: 30px;
  position:relative;
  top: -493px;
  left: 290px;
}

.total-amount{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 25px;
  position: relative;
  left: -126px;
  bottom: 17px;
}

.bet-amount{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 25px;
  position: relative;

}



.card{
  height: 141px;
  width: 150px;
  background-color: #fff;
  color: black;
  margin: 10px;
  width: 16.6%;
  float: left;
  border: 1px solid black;
  border-radius: 8%;

  /*margin-top: -262px;
  margin-left: 101px;*/

}

.dealer-total-number{
  float: right;
  margin-top: -532px;
  margin-left: 1198px;
  font-family: 'Asset', cursive;
  color: white;
  font-size: 30px;
}



#d1{
  margin-top: -417px;
  margin-right: 16px;
  transform: rotate(-1deg);
  background: red;
  float:right;
  width: 103.562px;
}


#d2{
  margin-top: -416px;
  margin-right: -72px;
  transform: rotate(9deg);
  background: red;
  float:right;
  width:103.562px;
}

#d3{
  margin-top: -402px;
  margin-right: -159px;
  transform: rotate(17deg);
  float: right;
  background: red;
  width: 103.562px;
}

#d4{
  margin-top: -289px;
  margin-right: 10px;
  transform: rotate(8deg);
  background: red;
  float:right;
  width: 103.562px;
}


#d5{
  margin-top: -289px;
  margin-right: -72px;
  transform: rotate(9deg);
  background: red;
  float:right;
  width:103.562px;
}

#d6{
  margin-top: -275px;
  margin-right: -147px;
  transform: rotate(18deg);
  float: right;
  background: red;
  width: 103.562px;
}




.card-1{
  margin-top: -352px;
  margin-left: 101px;
  transform: rotate(-17deg);
  background-color: blue;
}


.card-2{
  margin-top: -388px;
  margin-left: 191px;
  transform: rotate(-10deg);
  background-color: blue;
}

.card-3{
  margin-top: -372px;
  margin-left: 283px;
  transform: rotate(10deg);
  background-color: blue;
}

.card-4{
  margin-top: -245px;
  margin-left: 124px;
  transform: rotate(-28deg);
  background-color: blue;
}


.card-5{
  margin-top: -257px;
  margin-left: 192px;
  transform: rotate(-10deg);
  background-color: blue;
}

.card-6{
  margin-top: -239px;
  margin-left: 272px;
  transform: rotate(16deg);
  background-color: blue;
}


.card img{
  height:139px;
  width:103px;
  border-radius: 9%;
}
